@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "yekanBakh", Arial, Helvetica, sans-serif;
}

.text-section {
  background-image: url("/images/text-section-bg.png");
}

.cards-section-bg-right {
  background-image: url("/images/cards-section-right-bg.png");
  background-repeat: no-repeat;
  background-position: top right;
}
.cards-section-bg-left {
  background-image: url("/images/cards-section-left-bg.png");
  background-repeat: no-repeat;
  background-position: top left;
}

.cards-pocket-bg {
  background-image: url("/images/cards-pocket-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.intro-section-image-right {
  background-position: right -260px top 0;
}
.intro-section-image-right:hover {
  background-position: right -40px top 0;
}

.intro-section-image-left {
  background-position: left -260px top 0;
}
.intro-section-image-left:hover {
  background-position: left -160px top 0;
}
.bg-pattern {
  background-image: url("/images/bg-pattern.png");
  background-blend-mode: lighten;
}

@keyframes move-up-down {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-30px);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-30px);
  }
  80% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-move {
  animation: move-up-down 1.5s ease-in-out;
}

.group-hover .animate-move {
  animation-play-state: paused;
}
